<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luka's Blog</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>Welcome to Luka's Blogs</h1>
    </header>
    <main>
      <hr />
      <div class="first">
        <div>
          <h2>Available blogs:</h2>
          <% if (locals.subjects) { %>
          <ul>
            <% for (let i = 0; i < subjects.length; i++) { %>
            <li>
              <a href="<%= `#new${i}` %>"><%= subjects[i] %></a>
              <form action="/remove" method="POST">
                <button name="index" value="<%= i %>">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash3"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
                    />
                  </svg>
                </button>
              </form>
            </li>
            <% } %>
          </ul>
          <% } %>
        </div>
        <div>
          <h2>Create a Blog</h2>
          <form action="/submit" method="POST">
            <input type="text" name="subject" placeholder="Subject" required />
            <textarea
              name="text"
              placeholder="Text"
              rows="10"
              required
            ></textarea>
            <input type="submit" value="SUBMIT" />
          </form>
        </div>
      </div>
      <hr />
    </main>
    <footer>
      <% if (locals.subjects) { for (let i = 0; i < subjects.length; i++) { %>
      <div id="<%= `new${i}` %>">
        <h1><%= subjects[i] %></h1>
        <p><%= texts[i] %></p>
        <% if (i != subjects.length - 1) {%>
        <hr class="divider" />
        <% } %>
      </div>
      <% } } %>
    </footer>
  </body>
</html>
